@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --theme-color-one: #1c2553;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: auto !important;
  overscroll-behavior-y: none !important;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #fdfcf8;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.container {
  max-width: 1280px !important;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}

.padding-section {
  padding: 100px 0;

  &.less {
    padding: 60px 0;
  }
}

img {
  width: 100%;
}

.sub-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 25px;
  letter-spacing: 2px;
  color: var(--theme-color-one);
}

.sub-title .word {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 0.95);
  transition-delay: 0;
}

.sub-title.aos-animate .word {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 0.95);
  transition-delay: calc(var(--delay) + var(--delaySecond));
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #38475d;
  margin-bottom: 25px;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

/* animation line  */
.line {
  position: relative;
  display: inline-block;
  line-height: 1.25;
  overflow-y: hidden;
  vertical-align: top;
}

.char {
  position: relative;
  display: inline-block;
  will-change: transform, opacity;
}

.words .word {
  position: relative;
  display: inline-block;
  white-space: nowrap !important;
}

.whitespace {
  line-height: 0 !important;
}

.hero-content .word {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 0.95);
  transition-delay: 0;
}

.hero-content h1.aos-animate .word {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 0.95);
  transition-delay: var(--delay);
}

/* ____animation ______ */

@media (max-width: 1200px) {
  .sub-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .padding-section {
    padding: 80px 0;

    &.less {
      padding: 40px 0;
    }
  }

  .sub-title {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  p {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  .padding-section {
    padding: 40px 0;

    &.less {
      padding: 30px 0;
    }
  }

  .sub-title {
    font-size: 1.5rem;
  }
}

header.header {
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(98deg,
      #111839cc 0%,
      #222c5fcc 49%,
      #111839c5 100%);
  /* z-index: 99999; */
  z-index: 999;
  transition: all 0.4s ease-out;
}

header.header.sticky {
  position: fixed;
  background: linear-gradient(98deg, #111839 0%, #222c5f 49%, #111839 100%);
  top: 0;
  transform: translateY(-100%);
  animation: scrolled 0.6s ease-out forwards;
  animation-iteration-count: 1;
}

@keyframes scrolled {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.header-wrapper-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  position: relative;
  z-index: 999991;
}

.logo-container a {
  max-width: 110px;
  width: 100%;
  display: block;
}

.logo-container a img {
  width: 100%;
  object-fit: cover;
}

ul.navbar-list {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

ul.navbar-list a {
  padding: 0 20px;
  font-size: 0.95rem;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.75s ease-in;
}

ul.navbar-list a:hover,
ul.navbar-list a.active {
  font-weight: 700;
}

/* __hamburger menu ____________- */

button.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 40px;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  position: relative;
  z-index: 99999;
}

span.lines {
  width: 100%;
  height: 3px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.1s ease-in;
  background-color: #fff;
}

span.lines.two.active {
  visibility: hidden;
  opacity: 0;
}

span.lines.one.active {
  transform: rotateZ(45deg) translate(6px, 6px);
}

span.lines.three.active {
  transform: rotateZ(-45deg) translate(6px, -7px);
}

@media (max-width: 992px) {
  .logo-container a {
    max-width: 80px;
  }

  button.hamburger-menu {
    display: flex;
  }

  button.hamburger-menu::before {
    content: '';
    position: fixed;
    width: 200vw;
    height: 200vw;
    border-radius: 50%;
    top: 40px;
    right: 35px;
    background: var(--theme-color-one);
    transform-origin: top right;
    transform: scale(0);
    transition: all .75s ease-in-out;
  }

  button.hamburger-menu:has(.active)::before {
    top: -35vw;
    right: -35vw;
    transform: scale(1);
  }

  .navbar-container {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding: 0;
    margin: 0;
    z-index: 999991;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }

  .navbar-container.active {
    opacity: 1;
    visibility: visible;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.184);
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: visible;
  }

  ul.navbar-list {
    flex-direction: column;
    padding: 70px 25px;
  }

  ul.navbar-list a {
    padding: 6px 0;
    display: block;
    font-size: 30px;
  }

  ul.navbar-list>li {
    transform: translateX(-30px);
    opacity: 0;
  }

  ul.navbar-list>li {
    transform: translateX(-15px);
    opacity: 0;
    transition: all .3s ease-in-out;
  }

  .active>ul.navbar-list>li {
    transform: translateX(0);
    opacity: 1;
  }

  .active>ul.navbar-list>li:nth-child(1) {
    transition-delay: .6s;
  }

  .active>ul.navbar-list>li:nth-child(2) {
    transition-delay: .75s;
  }

  .active>ul.navbar-list>li:nth-child(3) {
    transition-delay: .9s;
  }

  .active>ul.navbar-list>li:nth-child(4) {
    transition-delay: 1.05s;
  }

  .active>ul.navbar-list>li:nth-child(5) {
    transition-delay: 1.2s;
  }

  .active>ul.navbar-list>li:nth-child(6) {
    transition-delay: 1.35s;
  }
}

@media (max-width:767px) {
  button.hamburger-menu {
    width: 25px;
    height: 30px;
    gap: 5px;
  }

  span.lines.one.active {
    transform: rotateZ(45deg) translate(5px, 4px);
  }

  span.lines.three.active {
    transform: rotateZ(-45deg) translate(7px, -7px);
  }

  button.hamburger-menu::before {
    top: 35px;
    width: 350vw;
    height: 350vw;
    right: 30px;
  }

  button.hamburger-menu:has(.active)::before {
    top: -220px;
    right: -100vw;
  }

  ul.navbar-list a {
    font-size: 20px;
  }
}

/* ____________________________footer section _____________________________- */
.footer-section {
  width: 100%;
  height: 100%;
  background-image: url("/images/footer-bg.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.footer-section .container {
  max-width: 1200px !important;
}

.footer-logo {
  max-width: 130px;
}

.footer-item h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 10px;
}

.footer-item h3 img {
  width: 12px;
  height: 12px;
}

.footer-nav-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding-left: 20px;
}

.footer-nav-item li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-nav-item li img {
  width: 20px;
  height: 20px;
}

.footer-item a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-size: 0.95rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer-item a:hover {
  font-weight: 600;
}

.footer-item li {
  color: #fff;
  font-size: 0.95rem;
}

@media (max-width: 992px) {
  .footer-nav-item.ib {
    flex-direction: row;
  }

  .footer-item a,
  .footer-item li {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  .footer-section .container {
    margin-top: 30px;
  }

  .footer-item a,
  .footer-item li {
    font-size: 0.8rem;
  }
}

/* ______________loader_______________ */
/* .loader-wrapper.hide {
  opacity: 0;
  pointer-events: none;
} */
/* 
.loader-wrapper {
  position: fixed;
  inset: 0;
  background: #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transform-origin: top;
  animation-fill-mode: forwards;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

.loader-wrapper.active {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s ease;
} */
/* 
.loader {
  padding: 30px;
} */

/* .loader>img {
  max-width: 90px;
  display: block;
  object-fit: cover;
  animation: move 3s linear infinite;
}

@keyframes move {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
} */