@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --theme-color-one: #1C2553;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: auto !important;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #fdfcf8;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.container {
  max-width: 1280px !important;
  margin: 0 auto;
  padding: 0 20px;
}

.padding-section {
  padding: 100px 0;

  &.less {
    padding: 60px 0;
  }
}

img {
  width: 100%;
}

.sub-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 25px;
  letter-spacing: 2px;
  color: var(--theme-color-one);
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #38475d;
  margin-bottom: 25px;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

@media (max-width:1200px) {
  .sub-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}

@media (max-width:992px) {
  .padding-section {
    padding: 80px 0;

    &.less {
      padding: 40px 0;
    }
  }

  .sub-title {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  p {
    font-size: 0.9rem;
  }
}

@media (max-width:767px) {
  .padding-section {
    padding: 40px 0;

    &.less {
      padding: 30px 0;
    }
  }

  .sub-title {
    font-size: 1.5rem;
  }
}

header.header {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(98deg, #111839 0%, #222c5f 49%, #111839 100%);
  z-index: 99999;
}

.header-wrapper-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo-container a {
  max-width: 100px;
  width: 100%;
  display: block;
}

.logo-container a img {
  width: 100%;
  object-fit: cover;
}


ul.navbar-list {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

ul.navbar-list a {
  padding: 0 20px;
  font-size: 0.95rem;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s ease-in;
}

ul.navbar-list a:hover,
ul.navbar-list a.active {
  font-weight: 700;
}

/* __hamburger menu ____________- */

button.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 40px;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  position: relative;
  z-index: 99999;
}

span.line {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: all 0.25s ease-in-out;
  transition-delay: 0.2s;
}

span.line.two.active {
  visibility: hidden;
  opacity: 0;
}

span.line.one.active {
  transform: rotateZ(45deg) translate(6px, 6px);
}

span.line.three.active {
  transform: rotateZ(-45deg) translate(6px, -7px);
}

@media (max-width:992px) {
  .logo-container a {
    max-width: 80px;
  }

  button.hamburger-menu {
    display: flex;
  }

  .navbar-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    max-width: 410px;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding: 0;
    margin: 0;
    background-color: var(--theme-color-one);
    transform: translate3d(100%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.61, 0.34, 0.36, 0.91);
    box-shadow: 8px 0 40px rgba(0, 0, 0, 0.138);
    z-index: 9999;
    overflow: hidden;
  }

  .navbar-container.active {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.184);
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;

  }

  .overlay.active {
    opacity: 1;
    pointer-events: visible;
  }

  ul.navbar-list {
    flex-direction: column;
    padding: 70px 25px;
  }

  ul.navbar-list a {
    padding: 6px 0;
    display: block;

  }
}


/* ____________________________footer section _____________________________- */
.footer-section {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/images/footer-bg.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-section .container {
  max-width: 1200px !important;
}


.footer-logo {
  max-width: 130px;
}


.footer-item h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 25px;
}

.footer-item h3 img {
  width: 12px;
  height: 12px;
}

.footer-nav-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding-left: 20px;
}

.footer-nav-item li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-nav-item li img {
  width: 20px;
  height:
    20px;
}

.footer-item a {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer-item a:hover {
  font-weight: 600;
}

.footer-item li {
  color: #fff;
  font-size: 0.95rem;
}

@media (max-width:992px) {

  .footer-item a,
  .footer-item li {
    font-size: 0.9rem;
  }
}


