.hero-section {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    position: relative;
    overflow: hidden;
}

.hero-img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.hero-img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    animation: kenburns 20s ease-in-out infinite;
    transform-origin: center center;
}

@keyframes kenburns {
    0% {
        transform: scale(1) translate(0, 0);
    }

    50% {
        transform: scale(1.3) translate(-5%, -5%);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}



.hero-section .container {
    height: 100%;
}

.hero-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-content {
    max-width: 810px;
    width: 100%;
}

.img-container {
    max-width: 180px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.img-container img {
    width: 100%;
    object-fit: cover;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

.highlight {
    color: var(--theme-color-one);
    font-weight: 600;
}

@media (max-width:992px) {
    h1 {
        font-size: 2.5rem;
    }

    .img-container {
        max-width: 150px;
    }
}

@media (max-width:767px) {
    h1 {
        font-size: 1.8rem;
    }

    .img-container {
        max-width: 120px;
    }
}

.intro-section {
    width: 100%;
    /* position: relative;
    background-image: url("/images/ribbons-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
}

.intro-bottom-bg-1 {
    width: calc(100% + 120px);
    position: absolute;

    left: -140px;
    top: calc(100% - 40px);
}

.intro-bottom-bg-1::before {
    content: '';
    position: absolute;
    left: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, #fdfcf8, transparent);
}

.intro-bottom-bg-1 img {
    width: 100%;
    object-fit: contain;
}

.intro-bottom-bg-2 {
    width: 92%;
    position: absolute;
    right: -140px;
    top: calc(100% - 70px);
}

.intro-bottom-bg-2::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 100%;
    right: 0;
    background: linear-gradient(270deg, #fdfcf8, transparent);
}

.intro-bottom-bg-2 img {
    width: 100%;
    object-fit: contain;
}



.intro-img-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.intro-bg {
    width: 85%;
    height: 100%;
    background: #e2c861;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -100px;
    margin-right: 20px;
    z-index: 1;
}

.intro-img-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
}

.intro-first-img {
    width: 85%;
    display: flex;
    justify-content: start;
    aspect-ratio: 1/0.95;
}

.intro-first-img img {
    width: 100%;
    object-fit: cover;
}

.bottom-bg {
    width: 100%;
    position: relative;
}

.bottom-bg::before {
    content: "";
    width: 100%;
    height: 75%;
    background-color: #fdfcf8;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.intro-first-two {
    width: 80%;
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-top: -15%;
    position: relative;
    z-index: 3;
}

.intro-first-two img {
    width: 100%;
    object-fit: cover;
}

@media (max-width:1199.98px) {

    .intro-bottom-bg-1::before,
    .intro-bottom-bg-2::before {
        opacity: 0;
    }

    .intro-bottom-bg-1 {
        left: -40px;
        top: 100%;
        width: 100%;
    }

    .intro-bottom-bg-2 {
        top: calc(100% - 10px);
        right: -30px;
    }
}

@media (max-width:992px) {
    .intro-bg {
        margin-top: -80px;
    }
}

@media (max-width:767px) {
    .intro-bg {
        margin-top: -40px;
    }
}

/* Lnadmark section  */
.landmark-section {
    width: 100%;
    position: relative;
    margin-top: -200px;
}

.landmark-bg {
    width: 100%;
    position: relative;
}

.landmark-bg img {
    width: 100%;
}

.landmar-content-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.landmark-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
}

.landmark-content a {
    display: inline-block;
    font-size: 0.95rem;
    font-weight: 500;
    color: #201e1e;
    text-decoration: none;
    text-transform: capitalize;
}

/* .landmark-section .container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0;
    transform: translateX(-50%);
}

.landmark-bg {
    width: 100%;
    height: 100%;
}

.landmark-bg img {
    width: 100%;

}

.landmark-content {
    width: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-left: 20px;
    padding-right: 20px;
}*/

@media (max-width:992px) {
    .landmark-section {
        margin-top: -40px;
    }

    .landmark-content a {
        font-size: 0.9rem;
    }
}

@media (max-width:575px) {
    .landmark-bg {
        display: flex;
        flex-direction: column-reverse;
    }

    .landmar-content-wrapper {
        position: relative;
        top: 0;
        transform: translate(0);
    }

    section.landmark-section {
        margin-top: 0;
    }

    .landmark-bg img {
        margin-top: -100px;
    }
}


/* founder-section  */
.founder-section {
    width: 100%;
    background-image: url("/images/promoter-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.founder-section .container {
    max-width: 1200px !important;
}

.founder-wrapper-container {
    padding: 0 30px;
}

.founder-section .row.px {
    position: relative;
    margin-bottom: 30px;
    z-index: 99;
}

.founder-section .row.px::before {
    content: "";
    width: 100%;
    height: calc(100% - 20px);
    border: 3px solid;
    border-top-color: rgba(252, 170, 8, 0.2);
    border-right-color: rgba(252, 170, 8, 0.2);
    border-left-color: rgba(252, 170, 8, 0.2);
    border-bottom-color: rgba(227, 176, 75, 0.6);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 40px;
}


.founder-wrapper-container .row.px img {
    max-width: 85%;
}



.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    max-width: 85%;
}

.founder-wrapper-container .title.mx {
    margin-left: auto;
}

.title img {
    width: 40px;
    height: 40px;
}

.title h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
}

.founder-para {
    text-align: center;
    color: #fff;
    margin-bottom: 0;
    margin-top: 30px;
}

@media (max-width:992px) {
    .title img {
        width: 25px;
        height: 25px;
    }

    .title h3 {
        font-size: 1.5rem;
    }
}

@media (max-width:767px) {
    .founder-wrapper-container {
        padding: 0;
    }

    .founder-wrapper-container .row.px img {
        max-width: 100%;
    }

    .title {
        max-width: 100%;
    }

    .title img {
        width: 15px;
        height: 15px;
    }

    .title h3 {
        font-size: 1rem;
    }
}

@media (max-width:575px) {
    .founder-section .row.px::before {
        height: calc(100%-10px);

    }
}


/* aboutus section start  */
.hero-section.about-us {
    background-image: url("/images/");
}

.atlantiis-section {
    width: 100%;
    position: relative;
}

.container-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding-top: 91px;
}

.top-bg-container {
    width: calc(100% + 80px);
    margin: 0 auto;
    position: absolute;
    left: -44px;
    top: 0;
}

.top-bg-container::before {
    content: "";
    width: 60px;
    height: 100%;
    background: linear-gradient(90deg, #fdfcf8, transparent);
    position: absolute;
    left: 0;
    top: 0;
}

.top-bg-container::after {
    content: "";
    width: 60px;
    height: 100%;
    background: linear-gradient(270deg, #fdfcf8, transparent);
    position: absolute;
    right: 0;
    top: 0;
}

.top-bg-container img {
    width: 100%;
    object-fit: cover;
}

.image-container {
    width: 100%;
    position: relative;
}

.image-container img {
    width: 100%;
    object-fit: cover;
}

.atlantic-text-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.alt-logo {
    max-width: 50%;
    padding: 10px 0;
}

.alt-content {
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.alt-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alt-des {
    width: max-content;
    padding: 10px 0;
    border-top: 2px dotted var(--theme-color-one);
    border-bottom: 2px dotted var(--theme-color-one);
}

.alt-content h2 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--theme-color-one);
    margin-bottom: 0;
}

.alt-content h3 {
    font-size: 2.2rem;
    line-height: 1;
    font-weight: 600;
    color: var(--theme-color-one);
}

.alt-content h4 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 10px;
}

@media (max-width:1200px) {
    .alt-logo {
        padding-inline: 20px;
    }

    .alt-content h2 {
        font-size: 3.2rem;
    }

    .alt-content h3 {
        font-size: 1.8rem;
    }

    .alt-content h4 {
        font-size: 1.5rem;
    }
}

@media (max-width:992px) {
    .alt-content {
        margin-left: auto;
        margin-right: 0;
    }

    .alt-content h2 {
        font-size: 2.5rem;
    }

    .alt-content h3 {
        font-size: 1.5rem;
    }

    .alt-content h4 {
        font-size: 1.2rem;
    }
}

@media(max-width:767px) {
    .alt-content {
        align-items: end;
    }
}

/* business section  */
.business-section {
    padding-bottom: 40px !important;
}

.business-text-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    padding: 60px 0;
}

.business-text-content h4 {
    font-size: 1rem;
    max-width: 330px;
    font-weight: 500;
    line-height: 1.2;
    color: #1c1a1ac4;
}

.business-text-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
}

.business-text-content h4 {
    font-size: 1rem;
    max-width: 330px;
    font-weight: 500;
    line-height: 1.2;
    color: #1c1a1ac4;
}

.business-image-container {
    width: calc(100% + 130px);
    position: absolute;
    left: -130px;
    padding: 250px 0;
}

.business-image-container::before {
    content: "";
    width: 70%;
    height: 100%;
    background: #e2c861;
    position: absolute;
    left: 30px;
    top: -30px;
}

.business-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.business-bottom-bg {
    width: calc(100% + 200px);
    margin-top: -130px;
    position: relative;
    top: 0;
    right: 60px;
}

.business-bottom-bg::after {
    content: "";
    width: 60px;
    height: 100%;
    background: linear-gradient(270deg, #fdfcf8, transparent);
    position: absolute;
    right: 0;
    top: 0;
}

.dot-image {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90%;
}

@media (max-width:992px) {
    .business-image-container {
        position: relative;
    }

    .business-image-container {
        left: -20px;
        width: calc(100% + 40px);
    }

    .business-image-container {
        padding: 220px 0;
    }

    .business-bottom-bg {
        transform: scaleX(-1);
        width: 100%;
        right: 20px;
        position: absolute;
        top: auto;
        bottom: 0;
        margin-top: 0;
    }

    .dot-image {
        display: none;
    }

    .business-text-content h4 {
        font-size: 0.9rem;
    }
}


/* -------------------feature_________________-- */
.feature-section {
    width: 100%;
    background-color: #fff;
}

.feature-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
}

.feature-heading h2 {
    margin-bottom: 0;
}

.feature-content {
    height: 530px;
    position: relative;
    z-index: 9;
    display: flex;
    flex-flow: column;
    justify-content: end;
    background-color: #00000060;
    color: #fff;
    padding: 25px;
    gap: 30px;
    text-decoration: none;
    transition: all .3s ease-in;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.feature-content::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.3s ease-in-out;
}

.feature-content:hover::before {
    opacity: 0;
}


.feature-card {
    position: relative;
    transition: all 03s ease-in;
}

.feature-wrapper {
    padding-bottom: 54px;
    overflow: hidden;
    position: relative;
}

.promo-title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.promo-title h4 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    margin-top: auto;
    margin-bottom: 0;
}


.feature-wrapper .swiper {
    overflow: visible;
    position: static !important;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    bottom: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--theme-color-one);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev {
    transform: scale(-1);
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 8px;
    height: 14px;

}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    right: 35px;
}



/* minwidth feature section  */
@media (min-width:991.98px) {
    .feature-wrapper .swiper-slide.swiper-slide-active {
        width: calc(var(--width) * 2) !important;
    }

    .feature-wrapper .swiper-wrapper:hover .swiper-slide.swiper-slide-active {
        width: var(--width) !important;
    }

    .feature-wrapper .swiper .swiper-slide.swiper-slide-active,
    .feature-wrapper .swiper .swiper-slide:hover,
    .feature-wrapper .swiper:hover .swiper-slide.swiper-slide-active:hover {
        width: calc(var(--width) * 2) !important;
    }

}

@media (max-width:992px) {
    .feature-heading {
        margin-bottom: 50px;
    }
}

/* banner section  */
.banner-section {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("/images/project-page/atlantiis-feature-area-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
}

.banner-img-box {
    width: 80%;
}

.fea-dot {
    width: 30px;
    height: 30px;
}

.banner-content a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.banner-content a span.download-btn {
    display: inline-block;
    padding: 8px 16px;
    background: #e2c861;
    color: var(--theme-color-one);
    text-transform: capitalize;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
}

/* amenties section  */
.amenties-section {
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom left, #111839 0%, #222c5f 49%, #111839 100%);
    color: #fff;
}

.card-image {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.amenties-card {
    width: 100%;
    padding: 40px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 20px;
}

/* ____________________architech section________________- */
.architech-info {
    width: 100%;
    height: 100%;
    position: relative;
}